<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>    
    <title>Culinary Hub</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'recipes/style.css' %}">
</head>
<body>
<main>
    <div class="container">
        <div class="header-box">            
            <a href="{% url 'recipes:main' %}"><img src="{% static 'recipes/main-logo.png' %}" alt="Go to home page"></a>
        
            {% if user.is_authenticated %}
            <ul class="header-menu">
                <li>Welcome, <b>{{ user.username }}!</b></li>
                <li class="dash">|</li>
                <li><a href="{% url 'users:profile' %}" role="button">Profile</a></li>
                <li class="dash">|</li>
                <li><a href="{% url 'users:logout' %}" role="button">Logout</a></li>
            </ul>
            {% else %}
            <ul class="header-menu">
                <li><a href="{% url 'users:signup' %}" role="button">Sign Up</a></li>
                <li class="dash">|</li>
                <li><a href="{% url 'users:login' %}" role="button">Login</a></li>
            </ul>
            {% endif %}            
        </div>
        <div>
            <ul class="main-menu">
                {% if user.is_authenticated %}                
                <li><a href="{% url 'recipes:recipe' %}">Add new recipe</a></li>
                <li class="dash">|</li>
                {% endif %}                
            </ul>
        </div>
        <div class="row">
            {% block content %} {% endblock %}
        </div>
    </div>
</main>
</body>
</html>