{% extends "recipes/base.html" %}

{% block content %}

<h1>{{recipe.title}}</h1>
<p>Description: <b>{{recipe.description}}</b></p>
<p>Time of creation: <kbd>{{recipe.created_at}}</kbd></p>
<p>Tags: <small> {{ recipe.tag_field }} </small></p>
{% if user.is_authenticated and user.is_staff %}
    {% if recipe.confirmation == False %}
    <a href="{% url 'recipes:confirm'  recipe.id %}" role="button">CONFIRM</a>
    <a href="{% url 'recipes:delete_conf'  recipe.id %}" role="button">DELETE</a>
    {% else %}
    <a href="{% url 'recipes:delete_main' recipe.id %}" role="button" class="contrast">DELETE</a>
    {% endif %}
{% endif %}
{% endblock %}