{% extends "recipes/base.html" %}

{% block content %}

<form method="POST" action="{% url 'recipes:recipe' %}">
    {% csrf_token %}
    <div style="padding: 10px">
        <label>Recipe title:
            {{ form.title }}
        </label>
        <span>{{ form.errors.name }}</span>
    </div>
    <div style="padding: 10px">
        <label> Recipe description:
            {{ form.description }}
        </label>
        <span>{{ form.errors.description }}</span>
    </div>
    <div style="padding: 10px">
        <label>Tags:
            {{ form.tag_field }}
        </label>
        <span>{{ form.errors.tag_field }}</span>
    </div>
    <div class="grid">
        <button type="submit">Submit</button>
        <button type="reset" class="secondary">Reset</button>
    </div>
</form>
{% endblock %}